<div class="media-overlay" (click)="close()">
    <button class="close-btn" (click)="close()">
        <span class="material-symbols-outlined">close</span>
    </button>

    <!-- Navigation Buttons -->
    <button class="nav-btn prev" (click)="prev($event)" *ngIf="data && currentIndex > 0">
        <span class="material-symbols-outlined">chevron_left</span>
    </button>

    <button class="nav-btn next" (click)="next($event)" *ngIf="data && currentIndex < data.items.length - 1">
        <span class="material-symbols-outlined">chevron_right</span>
    </button>

    <div class="media-container" (click)="$event.stopPropagation()" *ngIf="currentItem">
        <img *ngIf="!currentItem.isVideo" [src]="currentItem.url" class="media-content">

        <video *ngIf="currentItem.isVideo" controls autoplay class="media-content">
            <source [src]="currentItem.url">
            Your browser does not support video.
        </video>
    </div>
</div>